#register 
{
    margin:30px;
    color:white;
    
}
#emails
{
    margin:30px;
    color:white;
}
#sub
{
    color: white;
    margin:30px;
}
#msg
{
    color: white;
    margin:30px;
}

#head
{
    color:white;
}